  .login{
    display: flex;
    flex-direction: row;
  }
  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 80%;
    border: 1px solid rgba(226, 226, 226, 0.473);
    box-shadow: 5px 3px rgba(0, 0, 0, 0.438);
    border-radius: 50px;
  }
  
  .login-heading {
    text-align: center;
  }
  
  .form-label {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: medium;
  }
  
  .signup {
    font-size: small;
  }

  .login .buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .login input{
    height: 30px;
    width: 230px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.045);
    color: white;
    font-size: 13px;
    margin-left: -3px;
  }

  .login .form-label{
    margin: 7px;
  }

  .login .line{
    height: 40vh;
    border: 1px solid white;
    margin-top: 70px;
    margin-right: 50px;
    margin-left: -30px;
  }

  .login .buttons button{
    padding: 7px 35px;
    margin-top: -15px;
    border-radius: 5px;
    background-color:  darkseagreen;
    color: black;
  }

  .login-form a{
    color: white;
  }